/* This injects Tailwind's base styles and any base styles registered by plugins. */
@tailwind base;

p {
  margin: 1rem 0;
}

.container {
  @apply mx-auto my-0;
  max-width: theme('screens.md');
}

.icon {
  @apply inline-block w-6 h-6 mr-2 text-white;
}

.icon svg { fill: white; }

.link {
  @apply inline-block leading-none align-middle;
}

.portrait {
  @apply inline-block w-full h-0 bg-cover;
  background-image: url('../images/profile-pic-jack.jpg');
  padding-bottom: 100%;
}

.project-head {
  @apply flex w-full font-bold border-b border-gray-200 border-solid;
}

.project-item {
  @apply flex flex-wrap w-full py-2 border-b border-gray-200 border-solid;
}

@screen md {
  .project-item {
    @apply flex-nowrap;
  }
}

.project-item:focus,
.project-item:focus-within,
.project-item:hover {
  @apply bg-gray-100;
}

.project-link {
  @apply flex-grow w-2/5 px-2;
}

@screen md {
  .project-link {
    @apply flex-grow-0;
  }
}

.project-link:focus {
  @apply outline-none;
}

.project-type {
  @apply flex-grow w-full px-2 text-right;
}

.project-tag {
  @apply inline-flex px-2 text-xs font-semibold leading-5 text-gray-800 bg-gray-200 rounded-full;
}

.name-svg-fill {
  fill: white;
}

@screen md {
  .project-type {
    @apply w-auto;
  }
}

/* This injects Tailwind's component classes and any component classesregistered by plugins. */
@tailwind components;

/* This injects Tailwind's utility classes and any utility classes registered by plugins. */
@tailwind utilities;

/*
  Use this directive to control where Tailwind injects the responsive
  variations of each utility.

 If omitted, Tailwind will append these classes to the very end of
 your stylesheet by default.
 */
 @tailwind screens;
