---
import type { CollectionEntry } from 'astro:content';

interface Props {
    project: CollectionEntry<'projects'>;
}

const { project } = Astro.props;
const host = new URL(project.data.url).host.replace(/^www\./, '');
---

<a class="finder-row" href={project.data.url} target="_blank" rel="noreferrer">
    <span class="f-name">{project.data.name}</span>
    <span class="f-url">{host}</span>
    <span class="f-tags">{project.data.tags.join(' · ')}</span>
</a>
