---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import MacWindow from './MacWindow.astro';
import TalkItem from './TalkItem.astro';

const talks = (await getCollection('talks')).sort(
    (a: CollectionEntry<'talks'>, b: CollectionEntry<'talks'>) => a.data.order - b.data.order,
);
---

<MacWindow
    id="talks"
    title="Talks & Workshops"
    note="Conference talks, meetups, and workshops."
    offset="l"
    screenLabel="Talks window"
>
    <div class="talk-list">
        {talks.map((talk) => (
            <TalkItem talk={talk} />
        ))}
    </div>
</MacWindow>
